<div class="row top" >
  <div class="col-md-2 " ></div>
  <div class="col-md-4" >
    <div class="form-group">
      <label for="start">Start Date : </label>
      <input type="date" [(ngModel)]="start" class="form-control" id="start" (change)="change()">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="end">End Date : </label>
      <input type="date" [(ngModel)]="end" class="form-control" id="end" (change)="change()">
    </div>
  </div>
  <div class="col-md-2 " ></div>
</div>
<div class="row">
  <div class="col-md-2 " ></div>
  <div class="col-md-8 text-center"> the difference between the two date is {{result}} days </div>
  <div class="col-md-2 " ></div>
</div>
